<div class="profs">
    <section>
        <p style="margin-bottom: 100px;">
            Nous sommes fiers de présenter une plateforme dédiée
            à faciliter vos services éducatifs, mettant en avant une liste 
            complète de professeurs qualifiés prêts à accompagner votre parcours académique. 
        </p>
    </section>
    <section>
        <div class="prof-images">
            <img src="assets/images/prof1.jpg" alt="Image 1">
            <img src="assets/images/prof2.jpg" alt="Image 2">
            <img src="assets/images/prof1.jpg" alt="Image 3">
        </div>
    </section>
</div>
