<app-header></app-header>

<div class="subjects-container">
    <section>
        <p>Matieres</p>
    </section>
    <section>
        <button class="subject-button">English</button>
        <button class="subject-button">French</button>
        <button class="subject-button">Arabic</button>
        <button class="subject-button">Math</button>
        <button class="subject-button">English</button>
        <button class="subject-button">French</button>
        <button class="subject-button">Arabic</button>
        <button class="subject-button">Math</button>
    </section>
</div>

<app-footer></app-footer>