<app-header></app-header>
<div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card">
          <div class="card-header">
            Professor Details
          </div>
          <div class="card-body">
            <p><strong>Nom :</strong> {{ profs?.nom }}</p>
            <p><strong>Email:</strong> {{ profs?.email }}</p>
            <p><strong>Telephone :</strong> {{ profs?.numberTel }}</p>
            <p>Tarif par heure :{{ profs?.tarifh }} <i class="fas fa-money-bill"></i>
            </p>
            <p><img src="**" alt="prof"/></p>

          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>