<ng-template #content let-dialogRef="dialogRef" style="overflow: hidden">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Ajouter un Professeur</h4>
    </div>
    <div class="modal-body">
      <form [formGroup]="professeurForm">
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="nom">Nom</label>
            <input id="nom" class="form-control" formControlName="nom" placeholder="Nom" name="nom" type="text" />
          </div>
          <div class="col-md-6 mb-3">
            <label for="prenom">Prénom</label>
            <input id="prenom" class="form-control" formControlName="prenom" placeholder="Prénom" name="prenom" type="text" />
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="numberTel">Numéro de téléphone</label>
            <input id="numberTel" class="form-control" formControlName="numberTel" placeholder="Numéro de téléphone" name="numberTel" type="text" />
          </div>
          <div class="col-md-6 mb-3">
            <label for="email">Email</label>
            <input id="email" class="form-control" formControlName="email" placeholder="Email" name="email" type="email" />
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="file">URL de l'image</label>
            <input id="file" class="form-control" formControlName="file"  (change)="onImageSelected($event)" placeholder="URL de l'image" name="file" type="file" />
          </div>
          <div class="col-md-6 mb-3">
            <label for="tarifh">Tarif par heure</label>
            <input id="tarifh" class="form-control" formControlName="tarifh" placeholder="Tarif par heure" name="tarifh" type="number" />
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 mb-3">
            <label for="cv">CV</label>
            <textarea id="cv" class="form-control" formControlName="cv" placeholder="CV" name="cv"></textarea>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-primary" (click)="saveProfesseur()">Save</button>
      <button type="button" class="btn btn-outline-danger" (click)="closeModal()">Close</button>
    </div>
  </ng-template>
  
  <button class="btn btn-success" (click)="open(content)">Ajouter</button>
  