body {
  font-family: "Exo", sans-serif;
  background-color: #d8d8d8;
}


.main-content {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
  margin-left: 260px;
  margin-top: -530px;
  padding: 100px;
  background-color: #75a53e;
  height: 550px;
  width: 80%;
}

.main-container {
  display: flex;

  .side-nav {
    width: 350px;
    min-width: 230px;
    min-height: calc(100vh - 70px);
    background-color: #b8bb07;
    color: #fff;
    box-shadow: 5px 5px 5px #939393;
    flex: 0 0 250px;

    @media only screen and (max-width: 1300px) {
      width: 100px;
      min-width: 100px;
    }
  }

  .main {
    padding: 20px;
  }
}

.header {
  height: 70px;
  padding: 20px 50px;
  background-color: rgb(1, 69, 35);
  color: #fff;
  display: flex;
  justify-content: space-between;
  box-shadow: 5px 5px 5px #939393;

  .header-d {
    margin-left: 50px;
    margin-bottom: 20px;

  }

  .logo {
    font-weight: bold;
    font-size: 20px;
  }

  .user {
    display: flex;
    align-items: center;
    font-weight: bold;

    .user-image {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 2px solid #fff;
      background-color: rgb(204, 191, 9);
      margin-left: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
    }
  }
}

.nav-items {
  padding-top: 30px;

  .nav-item {
    padding: 25px 50px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;

    a {
      text-decoration: none;
      color: inherit;
    }

    @media only screen and (max-width: 1300px) {
      padding: 25px 40px;
    }

    &:hover {
      background-color: rgb(33, 145, 4);
    }

    fa-icon {}

    span {
      display: inline;

      @media only screen and (max-width: 1300px) {
        display: none;
      }
    }
  }
}