<div class="container" style="width: 100%;">
    <div class="header">
        <div class="header-d">
            <div class="logo"></div>
            <div class="user">
              <div class="user-name">Professeur</div>
              <div class="user-image">nom</div>
            </div>
          </div>   
 </div>

    <div class="main-container">
      <div class="side-nav">
        <div class="nav-items">
            <div class="nav-item">
                <i class="fa-sharp fa-solid fa-id-card"></i><span>Profile</span>
            </div>
            <div class="nav-item">
                <i class="fa-sharp fa-solid fa-envelope"></i> <span>Messages</span>
            </div>
            <div class="nav-item">
                <i class="fa-sharp fa-solid fa-right-from-bracket"></i> <span>Logout</span>
            </div>
          </div>  
    </div>
    <div class="main" style="background-color: rgb(221, 224, 185); width: 100% ; padding: 20px;">
        <router-outlet></router-outlet>
      </div>
  </div>
  </div>