<div class="show" style=" align-items: center; justify-content: center; ">

<div style="margin-top: 40px; display: flex; align-items: center; padding: 20px; background-color: rgb(176, 214, 3); border-radius: 10px;">

    <div>
        <img src="assets/images/child4.jpg" style="height: 300px; width: 350px;" />
    </div>

    <div style="margin-left: 20px;">
        <p class="font">Bienvenue sur Rimcourses,  votre compagnon éducatif dédié au succès scolaire. 
             Notre plateforme a été spécialement conçue pour offrir un soutien scolaire complet et personnalisé à tous les étudiants,de la primaire jusqu'au lycée. Chez Rimcourses ,nous croyons fermement que chaque élève mérite la chance de réussir, et c'est dans cet esprit que nous mettons à votre disposition une variété d'outils et de ressources pédagogiques de qualité.</p>
    </div>
</div>

<section class="wrapper style1 align-center">
    <div class="inner">
        <h2>Notre Plateforme</h2>
        <div class="items style1 medium onscroll-fade-in">
            <section>
                <span class="icon student-icon fas fa-user-graduate" style="color: rgb(252, 252, 15);" ></span>
                <h3>Etudiant</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dui turpis, cursus eget orci amet aliquam congue semper. Etiam eget ultrices risus nec tempor elit.</p>
            </section>
            <section>
                <span class="icon professor-icon fas fa-chalkboard-teacher" style="color: yellow;"></span>
                <h3>Professeur</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dui turpis, cursus eget orci amet aliquam congue semper. Etiam eget ultrices risus nec tempor elit.</p>
            </section>
            <section>
                <span class="icon classroom-icon fas fa-chalkboard" style="color: yellow;" ></span>
                <h3>Education</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dui turpis, cursus eget orci amet aliquam congue semper. Etiam eget ultrices risus nec tempor elit.</p>
            </section>
     
            </div>
</div>


<!-- 
<div style="padding: 100px; color: white;">

</div>    
<p style="text-align: center; font-weight: 500; color: white; "><b>NOS SERVICES</b> </p>
<div style="margin-left: 470px; align-items: center; border-bottom: 3px solid #000; padding-bottom: 5px; margin-bottom: 5px;  width: 100px;"></div>
    <div class="card-container">
        <mat-card class="example-card">
            <img mat-card-image src="assets/images/bienvenue.jpg" alt="Image 1">
           <mat-card-content> 
                <p>Rejoignez notre communauté éducative dynamique, où élèves, parents et professeurs peuvent interagir, partager des expériences et collaborer. Les forums de discussion et les groupes d'étude en ligne offrent un espace d'échange où chacun peut contribuer à enrichir le parcours éducatif.</p>
            </mat-card-content>
        </mat-card>

        <mat-card class="example-card">
            <img mat-card-image src="assets/images/livres.jpg" alt="Image 2">
            <mat-card-content>
                <p>Notre plateforme va au-delà de la simple mise en relation avec des professeurs. Nous nous engageons à faciliter l'ensemble de vos services éducatifs. Vous pouvez organiser des cours en ligne, planifier des séances de tutorat, et même trouver des ressources éducatives supplémentaires, le tout à portée de clic.</p>
            </mat-card-content>
        </mat-card>

        <mat-card class="example-card">
            <img mat-card-image src="assets/images/ecole.jpg" alt="Image 3">
            <mat-card-content>
                <p>Chez RimCourse, nous croyons en l'importance d'une éducation personnalisée. C'est pourquoi nous offrons des services de tutorat individualisés pour répondre spécifiquement aux besoins de chaque élève. Du soutien aux devoirs aux cours particuliers approfondis, nos professeurs sont là pour vous guider vers l'excellence académique.</p>
            </mat-card-content>
        </mat-card>
    </div>
    <hr>
    <br> -->

