<div class="header">
    <app-header></app-header>
</div>

<div class="show" style=" align-items: center; justify-content: center; ">

    <div class="accueil">
        <div>
            <img src="assets/images/child4.jpg" style="height: 300px; width: 350px;" />
        </div>

        <div style="margin-left: 20px; margin-right: 20px;">
            <p>Bienvenue sur Rimcourses, Rim Cours s'engage à fournir une expérience d'apprentissage enrichissante et
                accessible à tous, en facilitant la connexion entre les personnes désireuses d'enseigner et celles
                désireuses d'apprendre, le tout à un prix minimal pour favoriser une éducation de qualité sans
                compromis.</p>
        </div>
    </div>


    <section class=" style1 align-center" style="margin-top: 30px;">
        <div class="inner">
            <div class="items style1 medium onscroll-fade-in">
                <section>
                    <span class="icon student-icon fas fa-user-graduate" style="color: rgb(252, 252, 15);"></span>
                    <h3>Etudiant</h3>
                    <p> Les etudiants peuvent trouver des tuteurs qualifiés et compétents pour les aider à renforcer
                        leurs compétences dans divers domaines d'études</p>
                </section>
                <section>
                    <span class="icon professor-icon fas fa-chalkboard-teacher" style="color: yellow;"></span>
                    <h3>Professeur</h3>
                    <p>les enseignants ont l'occasion de partager leurs connaissances et leur expertise avec ceux qui
                        cherchent à apprendre.
                    </p>
                </section>
                <section>
                    <span class="icon classroom-icon fas fa-chalkboard" style="color: yellow;"></span>
                    <h3>Education</h3>
                    <p> Un environnement propice à l'apprentissage et au développement académique."</p>
                </section>

            </div>
        </div>
    </section>
</div>
<div>
    <app-matieres></app-matieres>
    <app-professeur></app-professeur>
    <div style="height: 100px; width: 100;"> </div>
    <div class="cover">
        <div class="container2">
            <div class="background">
                <p class="description">Notre plateforme Rim Cours offre une expérience d'apprentissage sans pareille en
                    facilitant la recherche et la réservation de cours particuliers de haute qualité. Avec une interface
                    utilisateur conviviale et intuitive, les étudiants peuvent parcourir une vaste gamme de matières et
                    de niveaux académiques pour trouver le tuteur parfait correspondant à leurs besoins spécifiques. Que
                    ce soit pour une aide ponctuelle sur un sujet précis, une préparation aux examens, ou un soutien
                    continu tout au long de l'année scolaire, Rim Cours permet aux étudiants de trouver rapidement et
                    facilement des enseignants qualifiés et expérimentés. De plus, notre plateforme garantit une
                    expérience sécurisée et fiable en vérifiant minutieusement les qualifications de chaque enseignant
                    et en offrant un système de notation et de commentaires pour assurer la qualité et la transparence
                    des cours dispensés. Rejoignez dès aujourd'hui la communauté Rim Cours et commencez votre voyage
                    vers la réussite académique!"</p>
            </div>
        </div>
    </div>
    <div class="responsive-login">
        <div class="r2">
            <h2>BREVET , BAC , BTS , CAP , ENA </h2>
            <h3>Rimcours votre meilleure destination !!</h3>
            <h3>Joingez-nous !</h3>
        </div>
        <button  routerLink="/prof-etud" class="login-button"><i class="fas fa-id-card" style="font-size: 20px;"></i>
            <span class="r">Register</span>
        </button>

    </div>

    <app-footer></app-footer>
</div>