<div class="show">

    <div>
        <img src="assets/images/child4.jpg" style="height: 80; width: 100;" />
    </div>
    <br>

    <p class="font">Bienvenue en RimCourses !</p>

    <hr>
    <br>
    <div class="card-container">
        <mat-card class="example-card">
            <img mat-card-image src="assets/images/child1.jpg" alt="Image 1">
            <mat-card-content>
                <p>Card Content 1</p>
            </mat-card-content>
        </mat-card>

        <mat-card class="example-card">
            <img mat-card-image src="assets/images/child2.jpg" alt="Image 2">
            <mat-card-content>
                <p>Card Content 2</p>
            </mat-card-content>
        </mat-card>

        <mat-card class="example-card">
            <img mat-card-image src="assets/images/exams.jpg" alt="Image 3">
            <mat-card-content>
                <p>Card Content 3</p>
            </mat-card-content>
        </mat-card>
    </div>
    <hr>
    <br>

</div>