<div class="login-container">
    <h2>Professeur</h2>
    <form class="login-form">
        <div class="form-group">
            <label for="email">Nom:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div class="form-group">
            <label for="email">prenom:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div class="form-group">
            <label for="email">Image:</label>
            <input type="email" id="email" name="email" required>
        </div>
       <div class="form-group">
            <label for="password">Matieres</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div class="form-group">
            <label for="password">Tarif par heure:</label>
            <input type="password" id="password" name="password" required>
        </div>
       <div class="form-group">
        <label for="password">CV:</label>
        <input type="password" id="password" name="password" required>
    </div>
        <div class="form-group">
            <button type="submit">Register</button>
        </div>
       
    </form>
</div>